<div class="ui inverted vertical footer segment" style="background-color: black;">
    <div class="ui container" style="padding-bottom: 50px;
    padding-top: 50px;">
      <div class="ui stackable inverted divided equal height stackable grid">
        <div class="three wide column">
          <h4 class="ui inverted header">About</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">Blog</a>
            <a href="#" class="item">Contact Us</a>
			  <a href="#" class="item">Terms of Use</a>
            
          </div>
        </div>
        <div class="three wide column">
          <h4 class="ui inverted header">Services</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">Trip Advisor</a>
            <a href="#" class="item">Bucketlist FAQ</a>
            <a href="#" class="item">Ideas</a>
            <a href="#" class="item">Activities</a>
          </div>
        </div>
        <div class="seven wide column">
          <h4 class="ui inverted header">BucketCAM</h4>
          <p>Copyright @BucketCAM 2020</p>
        </div>
      </div>
    </div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    <script>
      $(document).ready(function() {
        $(".ui.toggle.button").click(function() {
          $(".mobile.only.grid .ui.vertical.menu").toggle(100);
        });

        $(".ui.dropdown").dropdown();

        $(".slide").slick({
          autoplay: true,
          dots: true,
          speed: 500
        });
		   $(".slide1").slick({
          autoplay: true,
          dots: true,
          speed: 0
	     
        });
		  $("#buttonClicked").on('click',function(){
    	if ($(this).hasClass('toggle')){
		$(this).removeClass('toggle');		
		}else{
			$(this).addClass('toggle');
		}		  
	 		  
});
      });
    </script>
  </body>
</html>