<%- include ("../partials/header") -%>
<style type="text/css">
	.ui.centered.image{
		width:357px;
		height:214px;
	}
	.huge.header{
	margin-top: 100px;
    padding-left: 550px;
	}
	
	
</style>
<div class="ui huge header ">ADVENTUROUS SPORTS<i class="black child small icon"></i></div>
<div class="ui vertical segment">
        <div class="ui three column stackable center aligned grid container">
          <div class="column">
            <img
              class="ui centered large circular image"
              src="https://www.tripexperienceblog.com/wp-content/uploads/2019/01/Bungee-Jumping.jpg"
            />
            <h1 class="ui header">Bungee Jumping</h1>
            <p>
             <em>Tie a rope around your waist, trust that it will save you and jump from a cliff shouting your lungs out. Seems enough adventure to satisfy your soul? It surely is! Give it a shot and experience the ecstasy for yourself.
</em> 
            </p>
			</div>
          <div class="column">
            <img
              class="ui centered large circular image"
              src="https://www.tripexperienceblog.com/wp-content/uploads/2019/01/Skiing-768x433.jpg"
            />
            <h1 class="ui header"> Skiing</h1>
            <p>
              <em>Simplifying the sport, all you have to do is skid on the snow while balancing your body. But, make sure you have proper gear and training available so as to avoid injuries. It is a winter sport with some spots in the world-famous for the experience. Gulmarg in Kashmir is amongst the top places. Make sure to ski when you visit Kashmir..</em>    
			  </p>
			</div>
          <div class="column">
            <img
              class="ui centered big circular image"
              src="https://www.tripexperienceblog.com/wp-content/uploads/2019/01/Scuba-diving-768x512.jpg"
            />
            <h1 class="ui header">Scuba diving</h1>
            <p>
              <em>Don’t know swimming? Do not worry. Add this sport to your list of extreme sports regardless and witness the amazing world that lies beneath the water. A training session is all you need to dive underwater and see the amazing life that flourishes in the marine ecosystem.</em>
            </p>
        </div>
		
	  </div>	
			</div>		  
		<div class="ui vertical segment">
        <div class="ui three column stackable center aligned grid container">
          <div class="column">
            <img
              class="ui centered large circular image"
              src="https://www.tripexperienceblog.com/wp-content/uploads/2019/01/Zorbing.jpg"
            />
            <h1 class="ui header">Zorbing</h1>
            <p>
             <em>Amongst the adventurous sports that feel rather childish and in fact take you back to your childhood days, Zorbing gives you an experience that is irreplaceable. Get inside the giant plastic ball and roll down the hill while shouting at the top of your lungs..</em> 
            </p>
			</div>
          <div class="column">
            <img
              class="ui centered large circular image"
              src="https://www.tripexperienceblog.com/wp-content/uploads/2019/01/Hang-Gliding.jpg"
            />
            <h1 class="ui header">Hang Gliding</h1>
            <p>
              <em>Love the feeling of fresh air hitting you on the face? Well, with hang gliding you can feel the air above a few hundred feet, conquer the skies gliding on them and witness mesmeric views from up above the world.</em>    
			  </p>
			</div>
          <div class="column">
            <img
              class="ui centered large circular image"
              src="https://www.tripexperienceblog.com/wp-content/uploads/2019/01/Rafting..-768x512.jpg"
            />
            <h1 class="ui header">Rafting</h1>
            <p>
              <em>Water remains amongst the top preferences when discussing types of adventure sports. Rapids in deep waters keep calling an increasing number of people every day, and the sport has now gained mass popularity. Put on your life jackets, throw your boats in the water and let your adrenaline levels soar high.</em>
            </p>
			  </div>
        </div>
	  </div>
<div class="ui vertical segment">
        <div class="ui three column stackable center aligned grid container">
          <div class="column">
            <img
              class="ui centered large circular image"
              src="https://www.tripexperienceblog.com/wp-content/uploads/2019/01/Heli-Skiing-768x448.jpg"
            />
            <h1 class="ui header">Heli-Skiing</h1>
            <p>
           <em>Skiing taken to another level is what this extreme sports offers. A helicopter takes you to a point inaccessible on foot and then you ski down to the base camp wrapped in the wind in the snowy mountains.</em>
            </p>
			</div>
          <div class="column">
            <img
              class="ui centered large circular image"
              src="https://www.tripexperienceblog.com/wp-content/uploads/2019/01/Dirt-biking-768x576.jpg"
            />
            <h1 class="ui header">Dirt biking</h1>
            <p>
                        <em> If all you care about is an adventure and not getting dirty when doing a sport, dirt biking is your calling. Speed, balance and a ton of rugged undertaking, make sure you and your bike are prepared for it.</em>
			  </p>
			</div>
          <div class="column">
            <img
              class="ui centered big circular image"
              src="https://www.tripexperienceblog.com/wp-content/uploads/2019/01/Rock-climbing-768x512.jpg"
            />
            <h1 class="ui header">Rock climbing</h1>
            <p>
              <em>Put your muscles to test with this amazing adventurous sport that will take you to heights. Initial training and preparation along with all the right gear is a must when you head out to take over the cliffs and mountains.</em>
            </p>
        </div>
	</div>
	  </div>


	
	<%- include ("../partials/footer") -%>