<%- include ("../partials/header") -%>
<style type="text/css">
	.ui.centered.image{
		width:357px;
		height:214px;
	}
	.huge.header{
	margin-top: 100px;
    padding-left: 550px;
	}
</style>
<div class="ui huge header ">MOST ENTERTAINING THINGS<i class="blue headphones small icon"></i></div>
<div class="ui vertical segment">
        <div class="ui three column stackable center aligned grid container">
          <div class="column">
            <img
              class="ui centered large circular image"
              src="https://images.unsplash.com/photo-1470229722913-7c0e2dbbafd3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80"
            />
            <h1 class="ui header">LIVE CONCERT</h1>
            <p>
             <em>he excitement, the thrill, the perspiration—all from seeing your favorite band up on the stage, live before your very eyes, belting out the tunes you know and love.
</em> 
            </p>
			</div>
          <div class="column">
            <img
              class="ui centered large circular image"
              src="https://images.unsplash.com/photo-1522869635100-9f4c5e86aa37?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80"
            />
            <h1 class="ui header">BINGE WATCHING ANY SERIES PENDING</h1>
            <p>
              <em>Cutting the cord from your cable service might be the most liberating act you ever take, and with so many TV streaming services out there, there’s every reason to take the plunge.</em>    
			  </p>
			</div>
          <div class="column">
            <img
              class="ui centered big circular image"
              src="https://images.unsplash.com/photo-1536331148080-d164fc972561?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=925&q=80"
            />
            <h1 class="ui header">SITTING ON SWINGS</h1>
            <p>
              <em>Fascinated by ferris wheel going so fast. wanna try this ehilst your bucketlist now.</em>
            </p>
        </div>
		
	  </div>	
			</div>		  
		<div class="ui vertical segment">
        <div class="ui three column stackable center aligned grid container">
          <div class="column">
            <img
              class="ui centered large circular image"
              src="https://images.unsplash.com/photo-1486572788966-cfd3df1f5b42?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1052&q=80"
            />
            <h1 class="ui header">PLAYSTATION GAME</h1>
            <p>
             <em>If you’re looking to expand your PlayStation 4 (PS4) game library, there are a ton of entertaining games to choose from, ranging from the newest sports games to first-person shooters and role-playing classics.</em> 
            </p>
			</div>
          <div class="column">
            <img
              class="ui centered large circular image"
              src="https://personalexcellence.co/files/marathon.jpg"
            />
            <h1 class="ui header"> Run a marathon</h1>
            <p>
              <em>A marathon is a long-distance race of 42.2 km (26.2 miles) long — definitely not an easy feat that requires training and hard work! Training and completing a marathon will not only develop you in your physical strength and endurance, but also your mental persistence, will, and attitude.</em>    
			  </p>
			</div>
          <div class="column">
            <img
              class="ui centered large circular image"
              src="https://personalexcellence.co/files/celes-horseback-riding.jpg"
            />
            <h1 class="ui header"> Go horseback riding</h1>
            <p>
              <em>Unlike typical sports where you are alone or with other people, in horseback riding, you work together with an animal — the horse — and often times build an emotional bond with it, sometimes one even stronger, more unspeakable, than what you have with fellow peers.</em>
            </p>
			  </div>
        </div>
	  </div>
<div class="ui vertical segment">
        <div class="ui three column stackable center aligned grid container">
          <div class="column">
            <img
              class="ui centered large circular image"
              src="https://personalexcellence.co/files/chess.jpg"
            />
            <h1 class="ui header">Learn a strategy game</h1>
            <p>
           <em>SStrategy games like chess, checkers, chinese chess, Reversi (also known as Otello), Mindsweeper (part of Windows bundle) are great ways to train your mind. As a child, my brother and I played chinese chess together very often; I also enjoy playing mind sports like chess and Reversi a lot and would do so with my friends and against the computer)..</em>
            </p>
			</div>
          <div class="column">
            <img
              class="ui centered large circular image"
              src="https://personalexcellence.co/files/barefoot-rain.jpg"
            />
            <h1 class="ui header">Walk/Dance barefoot in the rain</h1>
            <p>
                        <em> We are all used to following a “proper” conduct: to be clothed when we are out, to always wear shoes when we are outside the house, and to always use an umbrella when it’s raining (with good reason of course, so that we don’t catch a cold).</em>
			  </p>
			</div>
          <div class="column">
            <img
              class="ui centered big circular image"
              src="https://personalexcellence.co/files/hot-air-balloon.jpg"
            />
            <h1 class="ui header">Fly in a hot-air balloon</h1>
            <p>
              <em>PThe view of the world as you float away in a hot-air balloon… spectacular. Once, I got to fly in a hot-air balloon while I was in Orange County in 2012… though that was just a stationary balloon ride that went up for a minute before coming back down. My next goal is to have a real hot-air balloon ride.</em>
            </p>
        </div>
	</div>
	  </div>

	<div class="ui vertical segment">
        <div class="ui three column stackable center aligned grid container">
          <div class="column">
            <img
              class="ui centered large circular image"
              src="https://images.unsplash.com/photo-1505740420928-5e560c06d30e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
            />
            <h1 class="ui header">
Listen to music</h1>
            <p>
           <em>You could make a playlist of your favourite songs, or if you have and iPod or MP3 player, listen to music on there</em>
            </p>
			</div>
          <div class="column">
            <img
              class="ui centered large circular image"
              src="https://images.unsplash.com/photo-1582128711650-0a12f5bb4783?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
            />
            <h1 class="ui header">PLay card games</h1>
            <p>
                        <em> A deck of cards can be turned to a nearly infinite number of games. Consider games like Slapjack, Crazy Eights, and Play or Pay.[7] Don't forget classics like Blackjack or Poker.</em>
			  </p>
			</div>
          <div class="column">
            <img
              class="ui centered big circular image"
              src="https://images.unsplash.com/photo-1519895663930-861efd5fd07f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80"
            />
            <h1 class="ui header">Go on a bike/Car ride.</h1>
            <p>
              <em>Riding a bike is good exercise and it can get you much further than your feet would on their own. Use a bike ride as an opportunity to explore a place you’ve never been before.</em>
            </p>
        </div>
		</div>
	  </div>

			<div class="ui vertical segment">
        <div class="ui three column stackable center aligned grid container">
          <div class="column">
            <img
              class="ui centered large circular image"
              src="https://images.unsplash.com/photo-1548199973-03cce0bbc87b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80"
            />
            <h1 class="ui header">Get a pet</h1>
            <p>
           <em>Aren’t pets the most adorable creatures in the world? I love animals but never saw the point of having a pet… after all, they take time, cost money, and are overall just a huge commitment!</em>
            </p>
			</div>
          <div class="column">
            <img
              class="ui centered large circular image"
              src="https://personalexcellence.co/files/violin.jpg"
            />
            <h1 class="ui header">Play a (new) musical instrument</h1>
            <p>
                        <em> Have you always wanted to learn how to play the guitar/violin/piano/etc. but never had a chance to? It’s never too late even if you’re an adult because science says it’s still possible! Learning to play a new instrument not only teaches you discipline but also makes you smarter.</em>
			  </p>
			</div>
          <div class="column">
            <img
              class="ui centered big circular image"
              src="https://personalexcellence.co/files/house-party2.jpg"
            />
            <h1 class="ui header">Throw a mega party</h1>
            <p>
              <em>Get to know your friends’ friends and introduce your friends to others by throwing a mega party! Throwing a mega party is not just about the drinks, it should be about having the right company — people whom you enjoy hanging around and who are great to converse with. Plan ahead, identify a venue (someone’s home will suffice; or you can always rent a space), set aside a little budget (having a party doesn’t have to cost a bomb!),</em>
            </p>
        </div>
		
	  </div>
		</div>
	
	<%- include ("../partials/footer") -%>