<%- include ("../partials/header") -%>
<style type="text/css">
	.ui.centered.image{
		width:357px;
		height:214px;
	}
	.huge.header{
	margin-top: 100px;
    padding-left: 550px;
	}
</style>
<div class="ui huge header ">ADVENTUROUS SPORTS<i class="brown map signs small icon"></i></div>
<div class="ui vertical segment">
        <div class="ui three column stackable center aligned grid container">
          <div class="column">
            <img
              class="ui centered large circular image"
              src="https://dynaimage.cdn.cnn.com/cnn/q_auto,w_634,c_fill,g_auto,h_357,ar_16:9/http%3A%2F%2Fcdn.cnn.com%2Fcnnnext%2Fdam%2Fassets%2F190311144104-best-hiking-trails-basho-wayfarer.jpg"
            />
            <h1 class="ui header"> The Basho Wayfarer, Japan</h1>
            
			</div>
          <div class="column">
            <img
              class="ui centered large circular image"
              src="https://lp-cms-production.imgix.net/features/2012/06/shutterstockRF_367597793-7466e3fa2d79.jpg?auto=format&fit=crop&q=40&sharp=10&vib=20&ixlib=react-8.6.4&w=1946"
            />
            <h1 class="ui header">Routeburn Track, New Zealand</h1>
            
			</div>
          <div class="column">
            <img
              class="ui centered big circular image"
              src="https://lp-cms-production.imgix.net/features/2012/06/GettyImages-544438349-f7dcb749721f.jpg?auto=format&fit=crop&q=40&sharp=10&vib=20&ixlib=react-8.6.4&w=1946"
            />
            <h1 class="ui header">GR20,FRANCE</h1>
            
        </div>
		
	  </div>	
			</div>		  
		<div class="ui vertical segment">
        <div class="ui three column stackable center aligned grid container">
          <div class="column">
            <img
              class="ui centered large circular image"
              src="https://lp-cms-production.imgix.net/features/2012/06/shutterstockRF_389136313-0ec649f9a2d4.jpg?auto=format&fit=crop&q=40&sharp=10&vib=20&ixlib=react-8.6.4&w=1946"
            />
            <h1 class="ui header"> Inca Trail, Peru</h1>
           
			</div>
          <div class="column">
            <img
              class="ui centered large circular image"
              src="https://lp-cms-production.imgix.net/features/2012/06/shutterstockRF_667066843-a85cdad036b8.jpg?auto=format&fit=crop&q=40&sharp=10&vib=20&ixlib=react-8.6.4&w=1946"
            />
            <h1 class="ui header">Everest Base Camp, Nepal</h1>
            
			</div>
          <div class="column">
            <img
              class="ui centered large circular image"
              src="https://lp-cms-production.imgix.net/features/2012/06/GettyRF_624202652_EDITED-a8136383e5ff.jpg?auto=format&fit=crop&q=40&sharp=10&vib=20&ixlib=react-8.6.4&w=1946"
            />
            <h1 class="ui header"> Indian Himalayas, India</h1>
            
			  </div>
        </div>
	  </div>
<div class="ui vertical segment">
        <div class="ui three column stackable center aligned grid container">
          <div class="column">
            <img
              class="ui centered large circular image"
              src="https://lp-cms-production.imgix.net/features/2012/06/shutterstockRF_367597793-7466e3fa2d79.jpg?auto=format&fit=crop&q=40&sharp=10&vib=20&ixlib=react-8.6.4&w=1946"
            />
            <h1 class="ui header">Routeburn Track, New Zealand</h1>
           
			</div>
          <div class="column">
            <img
              class="ui centered large circular image"
              src="https://lp-cms-production.imgix.net/features/2012/06/500pxRF_124885467-a44505709dc2.jpg?auto=format&fit=crop&q=40&sharp=10&vib=20&ixlib=react-8.6.4&w=1946"
            />
            <h1 class="ui header">Overland Track, Australia</h1>
           
			</div>
          <div class="column">
            <img
              class="ui centered big circular image"
              src="https://lp-cms-production.imgix.net/features/2012/06/GettyRF_157395539-b2137aaf9717.jpg?auto=format&fit=crop&q=40&sharp=10&vib=20&ixlib=react-8.6.4&w=1946"
            />
            <h1 class="ui header"> Narrows in Zion National Park,USA</h1>
            
        </div>
		
	  </div>
</div>

	
	<%- include ("../partials/footer") -%>