<%- include ("../partials/header") -%>
<style type="text/css">
	.ui.centered.image{
		width:357px;
		height:214px;
	}
	.huge.header{
	margin-top: 100px;
    padding-left: 550px;
	}
</style>
<div class="ui huge header ">EXPERIENCE SOMETHING NEW !!<i class="green leaf small icon"></i></div>
<div class="ui vertical segment">
        <div class="ui three column stackable center aligned grid container">
          <div class="column">
            <img
              class="ui centered large circular image"
              src="http://yourdream.s3.amazonaws.com/media/cache/1d/82/1d82cf6c7defd1da889f234d53f85236.jpg"
            />
            <h1 class="ui header">Cage Dive With Sharks</h1>
            
			</div>
          <div class="column">
            <img
              class="ui centered large circular image"
              src="http://yourdream.s3.amazonaws.com/media/cache/46/2e/462e4a49a516d1670a2570e4ba0f25c9.jpg"
            />
            <h1 class="ui header">Experience the Grand Canyon</h1>
           
			</div>
          <div class="column">
            <img
              class="ui centered big circular image"
              src="http://yourdream.s3.amazonaws.com/media/cache/74/6d/746d8fd88f38b3579df8cab4ca85ef21.jpg"
            />
            <h1 class="ui header">Swim with DOLPHINS</h1>
        </div>
		
	  </div>	
			</div>		  
		<div class="ui vertical segment">
        <div class="ui three column stackable center aligned grid container">
          <div class="column">
            <img
              class="ui centered large circular image"
              src="http://yourdream.s3.amazonaws.com/media/cache/83/5a/835a7b6f2d2a2c4ed89d8b3b33cef1b7.jpg"
            />
            <h1 class="ui header">See the Northern Lights</h1>
            
			</div>
          <div class="column">
            <img
              class="ui centered large circular image"
              src="http://yourdream.s3.amazonaws.com/media/cache/95/e4/95e469da3f3cde0ff2bb235c24aab15d.jpg"
            />
            
			</div>
          <div class="column">
            <img
              class="ui centered large circular image"
              src="http://yourdream.s3.amazonaws.com/media/cache/79/81/79813ebaec4b7fff93fb05b5ed3cbc16.jpg"
            />
            <h1 class="ui header">Plant a Tree</h1>
            
			  </div>
        </div>
	  </div>
<div class="ui vertical segment">
        <div class="ui three column stackable center aligned grid container">
          <div class="column">
            <img
              class="ui centered large circular image"
              src="http://yourdream.s3.amazonaws.com/media/cache/41/4f/414fd8e5d62515ddd17d8e6b4e901142.jpg"
            />
            <h1 class="ui header">Swim in Bioluminescent water</h1>
           
			</div>
          <div class="column">
            <img
              class="ui centered large circular image"
              src="http://yourdream.s3.amazonaws.com/media/cache/2a/dd/2add2af43a363f1b25803575c379832f.jpg"
            />
            <h1 class="ui header">Skinny Dip in the Ocean</h1>
            
			</div>
          <div class="column">
            <img
              class="ui centered big circular image"
              src="http://yourdream.s3.amazonaws.com/media/cache/57/f1/57f170713fc524161557d6c2b4f270b6.jpg"
            />
            <h1 class="ui header">Visit Wulingyuan Scenic Area in China</h1>
            
        </div>
		
	  </div>
</div>

	
	<%- include ("../partials/footer") -%>