<%- include ("../partials/header") -%>
<style type="text/css">
	.ui.centered.image{
		width:357px;
		height:214px;
	}
	.huge.header{
	margin-top: 100px;
    padding-left: 550px;
	}	
</style>
<div class="ui huge header ">VALUABLE THINGS TO LEARN<i class="blue edit outline small icon"></i></div>
<div class="ui vertical segment">
        <div class="ui three column stackable center aligned grid container">
          <div class="column">
            <img
              class="ui centered large circular image"
              src="https://img.buzzfeed.com/buzzfeed-static/static/2019-11/25/21/asset/73413c0b3884/sub-buzz-553-1574715942-2.jpg?downsize=700%3A%2A&output-quality=auto&output-format=auto"
            />
            <h1 class="ui header">elegant-looking handwriting </h1>
            
			</div>
          <div class="column">
            <img
              class="ui centered large circular image"
              src="https://www.tripexperienceblog.com/wp-content/uploads/2019/01/Skiing-768x433.jpg"
            />
            <h1 class="ui header">Learn new LANGUAGE</h1>
          
			</div>
          <div class="column">
            <img
              class="ui centered big circular image"
              src="https://images.unsplash.com/photo-1527248484677-0e5c9a8ab8a7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
            />
            <h1 class="ui header">Learn new Dance Form</h1>
          
        </div>
		
	  </div>	
			</div>		  
		<div class="ui vertical segment">
        <div class="ui three column stackable center aligned grid container">
          <div class="column">
            <img
              class="ui centered large circular image"
              src="https://images.unsplash.com/photo-1552422535-c45813c61732?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
            />
            <h1 class="ui header">Learn a to play musical Instrument</h1>
          	</div>
          <div class="column">
            <img
              class="ui centered large circular image"
              src="https://images.unsplash.com/photo-1505373877841-8d25f7d46678?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
            />
            <h1 class="ui header">Public Speaking</h1>
          	</div>
          <div class="column">
            <img
              class="ui centered large circular image"
              src="https://images.unsplash.com/photo-1510832842230-87253f48d74f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
            />
            <h1 class="ui header">Painting</h1>
            <p>
          		  </div>
        </div>
	  </div>
<div class="ui vertical segment">
        <div class="ui three column stackable center aligned grid container">
          <div class="column">
            <img
              class="ui centered large circular image"
              src="https://images.unsplash.com/photo-1503749575383-1804cd51ae35?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
            />
            <h1 class="ui header">Horse-Riding</h1>
          	</div>
          <div class="column">
            <img
              class="ui centered large circular image"
              src="https://img.buzzfeed.com/buzzfeed-static/static/2019-11/26/16/asset/58f065a38bfd/sub-buzz-76-1574784117-1.jpg?crop=1224%3A1632%3B0%2C0&downsize=300:*&output-format=auto&output-quality=auto"
            />
            <h1 class="ui header">embroidery floss</h1>
            <p>
          	</div>
          <div class="column">
            <img
              class="ui centered big circular image"
              src="https://images.unsplash.com/photo-1545182570-cc4b735d34c1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
            />
            <h1 class="ui header">Photoshop</h1>
          </div>
		
	  </div>

</div>
	
	<%- include ("../partials/footer") -%>