<%- include ("../partials/header") -%>
<style type="text/css">
	.ui.centered.image{
		width:357px;
		height:214px;
	}
	.huge.header{
	margin-top: 100px;
    padding-left: 550px;
	}
</style>
<div class="ui huge header ">TRAVELERS WHISTLIST<i class="blue camera retro small icon"></i></div>

<div class="ui vertical segment">
        <div class="ui three column stackable center aligned grid container">
          <div class="column">
            <img
              class="ui centered large circular image"
              src="https://www.tripexperienceblog.com/wp-content/uploads/2019/08/Haulover-Beach-768x432.jpg"
            />
            <h1 class="ui header">MIAMI</h1>
            <p>
             <em>Exploring Miami, you’ll wander through the gay section at 12th, and you’ll see Instagram “models” taking the same bikini shot 100 times. You might happen upon a drag show at Palace, and club promoters handing out fliers. However, somewhere, at some point, you’ll see something completely other-worldly and bizarre, and say to yourself, “Only in Miami.”
</em> 
            </p>
			</div>
		
          <div class="column">
            <img
              class="ui centered large circular image"
              src="https://www.tripexperienceblog.com/wp-content/uploads/2019/03/The-grandeur-music-festival-Coachella-California.jpg"
            />
            <h1 class="ui header">The grandeur music festival – Coachella, California</h1>
            <p>
              <em>Being one of the world’s largest music festivals, Coachella is not to be missed. The festival hosts some of the best pop-stars, making it an anticipated event throughout the year. This year’s festival is a 2-day extravaganza and will be held on the last two weekends of April.</em>    
			  </p>
			</div>
          <div class="column">
            <img
              class="ui centered big circular image"
              src="https://www.tripexperienceblog.com/wp-content/uploads/2019/03/Holy-week-at-Antigua-Guatemala.jpg"
            />
            <h1 class="ui header">Holy week at Antigua, Guatemala</h1>
            <p>
              <em>The extraordinary Semana Santa processions held in the ancient city of Antigua is a sight not to be missed. It is said to be one of the most majestic celebrations in the world. Popularly known as the holy week, this year the festivities are going to commence from March 25 – April 1.</em>
            </p>
        </div>
	  </div>	
</div>

		<div class="ui vertical segment">
        <div class="ui three column stackable center aligned grid container">
          <div class="column">
            <img
              class="ui centered large circular image"
              src="https://www.tripexperienceblog.com/wp-content/uploads/2019/09/Morocco-768x583.jpg"
            />
            <h1 class="ui header">MOROCCO</h1>
            <p>
             <em>The center of Africa’s tourism, Morocco is an amalgamation of Arabian, European, and Berber influences. From secluded beaches to sandy sceneries of Sahara, one can make a number of fascinating memories here in the African nation. Ouzoud Falls, Koutoubia Mosque, Todgha Gorge, etc. are some of the places you are not going to miss in Morocco.</em> 
            </p>
			</div>
          <div class="column">
            <img
              class="ui centered large circular image"
              src="https://www.tripexperienceblog.com/wp-content/uploads/2019/09/Thailand-768x352.jpg"
            />
            <h1 class="ui header">THAILAND</h1>
            <p>
              <em>A mix of natural beauty, rich culture, and ancient history – Thailand is one of the most popular destinations in the world to wrap up your year with. The fantastic beaches of Phuket and Ko Samui will make the perfect getaway from your busy life. The capital of Thailand, Bangkok offers the tourists the ultra-modern night city lights and a variety of cuisines. For those looking for a spiritual awakening, the temples of Wat Pho, Wat Arun, and the emerald temples for Buddha – the Wat Phra Laew temples – are a must-visit while in Thailand for a vacation. </em>    
			  </p>
			</div>
          <div class="column">
            <img
              class="ui centered large circular image"
              src="https://www.tripexperienceblog.com/wp-content/uploads/2019/09/Mauritius.jpg"
            />
            <h1 class="ui header">MAURITIUS</h1>
            <p>
              <em>A boon of Mother Nature – Mauritius is home to lush greenery, beautiful mountains, wild waterfalls, and breath-taking beaches. The place screams that God has been really gracious while creating this beauty. One of the most appealing and attractive tourist destinations in the world, Ile Aux Cerfs Island in Mauritius is known for its sandy beaches and beautiful lagoons. The weather in Mauritius is sunny and pleasant in December, which is followed by torrential rains in January.</em>
            </p>
			  </div>
        </div>
	  </div>
<div class="ui vertical segment">
        <div class="ui three column stackable center aligned grid container">
          <div class="column">
            <img
              class="ui centered large circular image"
              src="https://www.tripexperienceblog.com/wp-content/uploads/2019/09/Goa.jpg"
            />
            <h1 class="ui header">GOA, INDIA</h1>
            <p>
           <em>December travel bucket-list is incomplete without Goa. Water rafting, late-night parties, adventure sports, and relaxed day-outs on the beach – you name it, and Goa has it all. Tourists can experience the ultimate fun in Goa. What’s more, the place also hosts one of the greatest music festivals in the world – Sunburn – in the month of December. With a moderate temperature and loads of fun-filled activities, combined with elegant cathedrals and majestic forts – Goa is one of the best places to visit in December.</em>
            </p>
			</div>
          <div class="column">
            <img
              class="ui centered large circular image"
              src="https://www.tripexperienceblog.com/wp-content/uploads/2019/09/Egypt.jpg"
            />
            <h1 class="ui header">EGYPT</h1>
            <p>
                        <em> Known for its Pharaohs, Egypt is one of the most beautiful places to visit in December. The sizzling beauty of ancient temples and tombs never fails to enchant the tourists. The famous pyramids – one of the Seven Wonders of the Ancient World – are definitely worth visiting. Because of its close proximity to the Sahara desert, the weather remains Egypt is dry and sunny.</em>
			  </p>
			</div>
          <div class="column">
            <img
              class="ui centered big circular image"
              src="https://www.tripexperienceblog.com/wp-content/uploads/2019/09/Mexico.jpg"
            />
            <h1 class="ui header">MEXICO</h1>
            <p>
              <em>A place full of bright sunshine, mesmerizing sandy beaches, and rich cultural heritage – Mexico is one of the best places to visit in December. The capital of the country, Mexico City is home to some of the most popular tourist attractions – The Metropolitan Cathedral, Chapultepec Park, and The National Palace. The temperature in Mexico varies depending upon the location, with warmer weather in the coastal areas and slightly cooler temperature inland.</em>
            </p>
        </div>
	</div>
	  </div>

<div class="ui vertical segment">
        <div class="ui three column stackable center aligned grid container">
          <div class="column">
            <img
              class="ui centered large circular image"
              src="https://www.tripexperienceblog.com/wp-content/uploads/2019/03/The-Mediterranean-beauty-Cyprus-768x480.jpg"
            />
            <h1 class="ui header">The Mediterranean beauty – Cyprus</h1>
            <p>
             <em>April is the month when summer has just hit the city of Cyprus, but not too hard. The pleasantly warm temperature will make you head out, and explore the Mediterranean city which is abundant in natural beauty, and great wine produces.
</em> 
            </p>
			</div>
          <div class="column">
            <img
              class="ui centered large circular image"
              src="https://www.tripexperienceblog.com/wp-content/uploads/2019/03/Cuba...jpg"
            />
            <h1 class="ui header">All our heart is in Havana- na na, Cuba</h1>
            <p>
              <em>Being one of the most beautiful places in the world, Havana hosts the perfect Cuban weather in the month of April with rising sea temperatures making waves for water sports. Best time is to visit is from 23-29 April, as Havana puts on a show with Ritmo Cuba, a fun week of parties, dance and entertainment, during that time.</em>    
			  </p>
			</div>
          <div class="column">
            <img
              class="ui centered big circular image"
              src="https://www.tripexperienceblog.com/wp-content/uploads/2019/03/sunny-Islands-of-Canary-Spain-768x512.png"
            />
            <h1 class="ui header">The sunny Islands of Canary, Spain</h1>
            <p>
              <em>No one wants to drop a chance of being at the Islands of Canary, Spain and having the perfect warm, not too hot sunlight sooth your mind and senses. Experience two worlds in one with the looming volcanoes, lush forest and dunes behind the scenic canaries’ seafront. For those planning an ideal extended weekend trip, this is your place to be!</em>
            </p>
        </div>
		
	  </div>	
			</div>		  
		<div class="ui vertical segment">
        <div class="ui three column stackable center aligned grid container">
          <div class="column">
            <img
              class="ui centered large circular image"
              src="https://www.tripexperienceblog.com/wp-content/uploads/2019/09/Granada-Spain.jpg"
            />
            <h1 class="ui header">GRANADA(Spain)</h1>
            <p>
             <em>The southern Spanish city of Granada is one of the best places to visit in October. In the foothills of Sierra Nevada Mountains, the city is known for its medieval era architectures including royal palaces, forts, and other historical sites. Cathedral de Granada, the Royal Palace of Granada, Palaces of Charles V, etc. are some of the prominent places you will witness in the city.</em> 
            </p>
			</div>
          <div class="column">
            <img
              class="ui centered large circular image"
              src="https://www.tripexperienceblog.com/wp-content/uploads/2019/09/Phuket-Thailand-768x499.jpg"
            />
            <h1 class="ui header">PHUKET(Thailand)</h1>
            <p>
              <em>his October, enjoy the charm of practicing Trikonasana in the backdrop of endless blue water on the spectacular beaches of Phuket. The Thai island is one of the most sought-after places for beach-lovers. Recreate the splendor of being in the vicinity of a global tourist community while exploring Phuket.</em>    
			  </p>
			</div>
          <div class="column">
            <img
              class="ui centered large circular image"
              src="https://www.tripexperienceblog.com/wp-content/uploads/2019/09/Rome-Italy-768x512.jpg"
            />
            <h1 class="ui header">ROME (Italy)</h1>
            <p>
              <em>There cannot be a better way to witness some of the world’s finest historical architectures than roaming around the streets of Italy’s capital city. The Flavian Amphitheatre, Pantheon, Trevi Fountain, Alter of the Fatherland – the list of Rome’s cultural centers is endless. Vatican City, the holiest place in Christianity, is enclosed by Rome.</em>
            </p>
			  </div>
        </div>
	  </div>
<div class="ui vertical segment">
        <div class="ui three column stackable center aligned grid container">
          <div class="column">
            <img
              class="ui centered large circular image"
              src="https://www.tripexperienceblog.com/wp-content/uploads/2019/07/Things-to-do-in-Montego-Bay.jpg"
            />
            <h1 class="ui header">MONTEGO BAY, JAMAICA</h1>
            <p>
           <em>SThe best-known destination in Jamaica and one of the cheapest places to travel in March, Montego Bay is an absolute delight. The place welcomes you with open arms and has one of the busiest airports in the Caribbean islands.</em>
            </p>
			</div>
          <div class="column">
            <img
              class="ui centered large circular image"
              src="https://www.tripexperienceblog.com/wp-content/uploads/2019/11/Spiti.jpg"
            />
            <h1 class="ui header">THE ‘WOOLEN TRIBES’ OF SPITI</h1>
            <p>
                        <em> Located in the beautiful state of Himachal Pradesh, Lahaul & Spiti is the largest district of the state in size with an area of 13,833 sq. Km. The district is officially declared as the tribal area. Although the place is remotely placed and lacks its own railway station or airport, you can still easily reach the extraordinarily beautiful destination by road.</em>
			  </p>
			</div>
          <div class="column">
            <img
              class="ui centered big circular image"
              src="https://www.tripexperienceblog.com/wp-content/uploads/2019/09/Assam.jpg"
            />
            <h1 class="ui header">EASTERN INDIA</h1>
            <p>
              <em>October and November are months of festivities in Eastern India. From the iconic celebration of Durga Puja in West Bengal to the purity of Chhath Puja in Bihar and Assam, Eastern India offers some of the most incredible moments to enthrall a divine soul. The region is also known for its Buddhist heritage with places like Sarnath, Bodh Gaya, Tawang, Vaishali, Gangtok, etc.</em>
            </p>
        </div>
	  </div>
</div>
	
<div class="ui vertical segment">
        <div class="ui three column stackable center aligned grid container">
          <div class="column">
            <img
              class="ui centered large circular image"
              src="https://www.tripexperienceblog.com/wp-content/uploads/2018/05/manali-768x448.jpg"
            />
            <h1 class="ui header">Manali,India</h1>
            <p>
             <em>Snow-clad Himalayas in the emerald Beas valley, full of advetures at every corner, Manali is also a year-round favourite. Trekking, rafting, skiing or relaxing in the mountains, honeymooners can choose from a variety of things in Manali. A perfect place to unwind, it is certainly the best idea to plan a trip to the mountains.


</em> 
            </p>
			</div>
          <div class="column">
            <img
              class="ui centered large circular image"
              src="https://www.tripexperienceblog.com/wp-content/uploads/2018/04/bali-tourism-798x650.jpg"
            />
            <h1 class="ui header">BALI, INDONESIA</h1>
            <p>
              <em>Simplifying the sport, all you have to do is skid on the snow while balancing your body. But, make sure you have proper gear and training available so as to avoid injuries. It is a winter sport with some spots in the world-famous for the experience. Gulmarg in Kashmir is amongst the top places. Make sure to ski when you visit Kashmir..</em>    
			  </p>
			</div>
          <div class="column">
            <img
              class="ui centered big circular image"
              src="https://www.tripexperienceblog.com/wp-content/uploads/2019/08/Charlottetown-Canada.jpg"
            />
            <h1 class="ui header">Charlottetown, Canada</h1>
            <p>
              <em>If you want to savour the best of seafood, head straight to Charlottetown. One of the best places to visit in September, Charlottetown hosts Prince Edward Island International Shellfish Festival from September 13 to 16 where tourists get to treat their taste buds with a vast variety of lobsters, oysters, crabs and more.</em>
            </p>
        </div>
		
	  </div>	
			</div>		  
		<div class="ui vertical segment">
        <div class="ui three column stackable center aligned grid container">
          <div class="column">
            <img
              class="ui centered large circular image"
              src="https://www.tripexperienceblog.com/wp-content/uploads/2019/08/Beijing-China-768x432.jpg"
            />
            <h1 class="ui header">Beijing, China</h1>
            <p>
             <em>September is the best time to plan a trip to China, especially Beijing because the temperature is mild. Apart from witnessing the metro-life of Beijing, you can also meet the Chengdu pandas, or explore the Great Wall, while you are in China. You can also go for a short trip to Hong Kong, which is also one of the best places to visit in China.</em> 
            </p>
			</div>
          <div class="column">
            <img
              class="ui centered large circular image"
              src="https://www.tripexperienceblog.com/wp-content/uploads/2019/08/Barcelona-Spain-768x432.jpg"
            />
            <h1 class="ui header"> Barcelona, Spain</h1>
            <p>
              <em>Larcelona is one of the most popular travel destinations in the world, and September is a superb time to visit Barcelona. The climate is still warm and the beaches are not as crowded as they would be during summer. The bright shorelines, magnificent churches, world heritage sites, and Catalan culture, make for an ideal late-summer getaway. Also, Barcelona’s yearly summer festival, La Mercé is celebrated in this month.</em>    
			  </p>
			</div>
          <div class="column">
            <img
              class="ui centered large circular image"
              src="https://www.tripexperienceblog.com/wp-content/uploads/2019/08/Munich-Germany-1.jpg"
            />
            <h1 class="ui header">Munich, Germany</h1>
            <p>
              <em>Munich makes a perfect September getaway because the Oktoberfest is celebrated in this month. Also, you can explore monuments of historical importance such as Neuschwanstein Castle and Residenz, Germany’s biggest royal residence complex.</em>
            </p>
			  </div>
        </div>
	  </div>
<div class="ui vertical segment">
        <div class="ui three column stackable center aligned grid container">
          <div class="column">
            <img
              class="ui centered large circular image"
              src="https://www.tripexperienceblog.com/wp-content/uploads/2019/09/Kerala-India-768x474.jpg"
            />
            <h1 class="ui header">Kerala (India)</h1>
            <p>
           <em>Kerala, popular as God’s Own Country, is among the world’s most beautiful places to visit in October. From the scenic delight of Athirapilly Falls to the pristine beaches of Varkala to the lush greenery of Periyar National Park, Kerala is the powerhouse of heart-winning sceneries. The South Indian province is home to some of the most iconic Hindu temples including Sree Padmanabhaswamy Temple, Vadakkunnathan Temple, Guruvayur Temple, etc.</em>
            </p>
			</div>
          <div class="column">
            <img
              class="ui centered large circular image"
              src="https://www.tripexperienceblog.com/wp-content/uploads/2019/09/Kyoto-Japan-768x432.jpg"
            />
            <h1 class="ui header">Kyoto (Japan)</h1>
            <p>
                        <em> Color your soul with the divine beauty of Buddhism in the old Japanese city of Kyoto. Located on the Honshu Island, the ancient capital of Japan is adorned with a number of Buddhist temples that have been attracting millions of tourists and devotees for many decades. One can also witness Arashiyama, the picturesque bamboo forest in the heart of the city.</em>
			  </p>
			</div>
          <div class="column">
            <img
              class="ui centered big circular image"
              src="https://www.tripexperienceblog.com/wp-content/uploads/2019/09/Niagara-Falls-Canada.jpg"
            />
            <h1 class="ui header">Niagara Falls (Canada-US)</h1>
            <p>
              <em>A traveler’s wish list is not completed without the mention of Niagara Falls. Thousands of explorers come to witness the world’s largest waterfalls that is shared by two countries-USA and Canada.</em>
            </p>
        </div>	
	  </div>
	</div>
	
	<%- include ("../partials/footer") -%>